<html>

<head>
<title>Down Or Just Me?</title>
<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/pure-min.css">
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
<meta charset="UTF-8">
<meta name="description" content="Is It Down Or Just Me?">
<meta name="keywords" content="website, down, checker, status">
<meta name="author" content="Nauman Ahmad">
<meta name="author-email" content="nauman-ahmad@outlook.com">
<meta name="github" content="http://github.com/itsnauman/dojme">
</head>
<body>
<div id="fb-root"></div>
<a href="https://github.com/itsnauman/dojme"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/38ef81f8aca64bb9a64448d0d70f1308ef5341ab/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f6461726b626c75655f3132313632312e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png"></a>
<div class="header">
{% block header %}{% endblock %}
</div>
<div class="content">
{% block content %}{% endblock %}
</div>
<div class="footer">
<footer>
Made with <3 by Nauman Ahmad
<a href="https://twitter.com/itsnauman" class="twitter-follow-button" data-show-count="false">Follow @itsnauman</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
</footer>
</div>
</body>

</html>
